<button class="checkbox icon toggleAll">
    <span>✓</span>
</button>
<select class="filter">
    <option value="all">Show All</option>
    <option value="incomplete">Show Incomplete</option>
    <option value="complete">Show Complete</option>
</select>
<button class="text clearAll">
    Clear All Completed
</button>