<div class="todo">
    <input class="is-editing" type="text" />
    <button class="checkbox icon">
        <span>✓</span>
    </button>
    <label>{{text}}</label>
    <button class="edit">
        <span>✏</span>
    </button>
    <button class="remove">
        <span>X</span>
    </button>
</div>